h1 {
    color: gold;
    text-align: center;
    background: #000;
}

.update{
    background: aliceblue;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    border-radius: 7px;
    color: yellow;
    
}
.update:hover{
    color: darkorange;
    border: 1px solid darkorange;
}
.edit {
    display: block;
    border-color: #000;
}