  form label {
      display: block;
      margin-top: 8px;
  }

  h1 {
      color: gold;
      background-color: black;
      text-align: center;
  }

  input.add_post {
      background: aliceblue;
      padding-left: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 10px;
      border-radius: 7px;
      color: greenyellow;
  }

  input.add_post:hover {
      border: 1px solid green;
      text-decoration: none;
      color: green;
  }